@tailwind base;
@import './typography.scss';

@tailwind components;

@tailwind utilities;
@import './functions.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  display: inline-block;
}
.negative-top {
  margin-top: -223px !important;
}
.negative {
  @media(min-width: 1280px) {
    margin-top: -223px !important;
  }
}
.w-32 {
  width: calc(33.33333% - 1px);
}
.transition-nav {
  transition: all .3s ease-in-out !important;
}
* {
  box-sizing: border-box;
}
.var-width {
  @media(min-width: 768px) {
    width: calc(50% - 5px) !important;
  }
}
.var-second-width {
  @media(min-width: 768px) {
    width: calc(33.33333% - 5px) !important;
  }
}
.grad {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.5) 100%), #3040C4;
}
.slick-slider {
  padding-bottom: 40px !important;
}
.slick-dots {
  z-index: 1000 !important;
  bottom: 0 !important;
}
.slick-dots li {
  width: 8px !important;
  height: 8px !important;
  color: #000;
}

.slick-dots li button:before {
  font-size: 8px !important;
  color: black !important;
}

.slick-dots li.slick-active button:before {
  color: #3040C4 !important;
}


@import './typography.scss'