@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

.text-14-22 {
    font-size: remify(14px);
    line-height: remify(22px);
}
.text-16-22 {
    font-size: remify(16px);
    line-height: remify(22px);
}
.text-18-18 {
    font-size: remify(18px);
    line-height: remify(18px);
}
.text-18-25 {
    font-size: remify(18px);
    line-height: remify(25px);
}
.text-18-26 {
    font-size: remify(18px);
    line-height: remify(26px);
}
.text-20-28 {
    font-size: remify(20px);
    line-height: remify(28px);
}
.text-22-26 {
    @apply font-bold;
    font-size: remify(22px);
    line-height: remify(26px);
}
.text-22-28 {
    @apply font-bold;
    font-size: remify(22px);
    line-height: remify(28px);
}
.text-22-32 {
    font-size: remify(22px);
    line-height: remify(32px);
}
.text-22-34 {
    @apply font-bold;
    font-size: remify(22px);
    line-height: remify(34px);
}
.text-24-30 {
    font-size: remify(24px);
    line-height: remify(30px);
}
.text-24-34 {
    font-size: remify(24px);
    line-height: remify(34px);
}
.text-40-40 {
    @apply font-bold;
    font-size: remify(40px);
    line-height: remify(40px);
    @screen lg {
        font-size: remify(56px);
        line-height: remify(56px);
    }
}
.text-56-56 {
    @apply font-bold;
    font-size: remify(56px);
    line-height: remify(56px);
}
.text-h1 {
    @apply font-bold;
    font-size: remify(50px);
    line-height: remify(50px);
    @screen lg {
        font-size: remify(80px);
        line-height: remify(80px);
    }
}
.text-h2 {
    font-size: remify(27px);
    line-height: remify(38px);
    @screen lg {
        font-size: remify(35px);
        line-height: remify(42px);
    }
}
.title-bold {
    @apply font-bold;
    font-size: remify(27px);
    line-height: remify(38px);
    @screen lg {
        font-size: remify(50px);
        line-height: remify(60px);
    }
}

